name: Upload Python Package to PyPI when a Release is Created

on:
  release:
    types: [created]

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/kura
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Build Web Assets
        working-directory: ui
        run: |
          bun install
          bun run build

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.9

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Build Package
        run: uv build

      - name: Build and publish Python package
        run: uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
